<h1 class="container text-center my-4">Bienvenidos al mercado de frutas/verduras web</h1>
<h3 class="container text-center mt-3">¡Elige tu producto!</h3>
<div class=""container mt-5>
    <div class="row row-cols-1 cols-md-4">
        {{> products}}
    </div>
</div>