<nav class="navbar bg-success">
  <div class="container-fluid d-flex justify-content-center">
    <!-- Reemplazo el logo de Bootstrap con el icono de Font Awesome -->
    <a class="navbar-brand" href="#">
      <i class="fas fa-cart-shopping fa-lg text-white"></i>
    </a>
  </div>
</nav>